.span,
.span_large {
  background: #08b4da;
}
.nav-3d li a span {
  background: #08b4da;
}
.nav-3d li a :before {
  color: #08b4da;
}
.portfolio-filter li span {
  background: #08b4da;
  border: 1px solid transparent;
}
.portfolio-filter .active span {
  background: #ffffff;
  color: #08b4da;
  border: 1px solid #08b4da;
}
.portfolio-filter li :before {
  color: #08b4da;
}
.main-nav ul .active a > span {
  color: #08b4da;
}
#top-header .affix {
  background: #08b4da;
}
#hero-unit .carousel .carousel-inner:before {
  background-color: rgba(5, 137, 166, 0.89);
}
#service .block:hover h4 {
  color: #08b4da;
}
#feature .nav-tabs > li.active {
  border-color: #dedede #08b4da #dedede;
}
#feature .nav-tabs .media i {
  color: #08b4da;
}
#feature .nav-tabs .media .media-body h4 {
  color: #08b4da;
}
#about .goals ul li i {
  color: #08b4da;
}
.owl-controls .owl-page.active span {
  background: #08b4da;
}
#team .thumbnail .caption h4 {
  color: #08b4da;
}
#team .thumbnail .caption .social-icon li a:hover {
  background: #08b4da;
  border: 1px solid #08b4da;
}
#team .ih-item.circle.effect1 .spin {
  width: 230px;
  height: 230px;
  border: 5px solid #08b4da;
  border-right-color: #dedede;
  border-bottom-color: #dedede;
  border-radius: 50%;
  -webkit-transition: all 0.6s ease-in-out;
  -moz-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;
}
#portfolio .portfolio-container #da-thumbs li .portfolio-buttons a {
  color: #08b4da;
}
#portfolio .portfolio-container #da-thumbs li .portfolio-buttons a:hover {
  background: #08b4da;
}
#portfolio .da-thumbs li a div {
  background: rgba(5, 137, 166, 0.89);
}
#pricing-table .block .item-box .btn-join {
  background: #08b4da;
}
#pricing-table .plan-1 .title {
  background: #467e8b;
  border-bottom: 1px solid #3c6d78;
}
#pricing-table .plan-1 .price {
  background: #56a0b0;
}
#pricing-table .plan-1 .item-box {
  background: #f8f8f8;
}
#pricing-table .plan-2 .title {
  background: #315a63;
  border-bottom: 1px solid #294c54;
}
#pricing-table .plan-2 .price {
  background: #427b87;
}
#pricing-table .plan-2 .item-box {
  background: #f2f2f2;
}
#pricing-table .plan-3 .title {
  background: #C54F4F;
  border-bottom: 1px solid #AD4242;
}
#pricing-table .plan-3 .price {
  background: #d15959;
}
#pricing-table .plan-3 .item-box {
  background: #ebebeb;
  border: 1px solid #D3D3D3;
}
#pricing-table .plan-3 .item-box .btn-join {
  background: #d15959;
}
#contact address ul li span i {
  background: #08b4da;
}
#contact .form-group .btn-default {
  background: #08b4da;
}
#footer {
  background: #08b4da;
}
.custom-icon:hover {
  color: #08b4da;
}
#blog-header:before {
  background-color: rgba(5, 137, 166, 0.89);
}
#blog-body .blog-item .item-text h1 a {
  -webkit-transition: .2s all;
  -moz-transition: .2s all;
  -ms-transition: .2s all;
  -o-transition: .2s all;
  transition: .2s all;
}
#blog-body .blog-item .item-text h1 a:hover {
  color: #08b4da;
}
#blog-body .blog-item .item-text .btn-blog {
  background: #08b4da;
}
#blog-body .blog-item .item-text .btn-blog:hover {
  background: #ffffff;
  color: #08b4da;
  border: 1px solid #08b4da;
}
#blog-body .pagination > li .active {
  background: #08b4da;
}
#blog-footer .block .tags li a:hover {
  background: #08b4da;
}
.single-page .blog-item blockquote {
  border-left: 3px solid #08b4da;
}
.single-page .comments .media .media-body .reply-button {
  color: #08b4da;
}
.single-page .comments .btn-submit {
  background: #08b4da;
}
